In [2]:
# importing csv module
import csv
  
# csv file name
filename = "TestData.csv"
  
# initializing the titles and rows list
fields = []
rows = []
  
# reading csv file
with open(filename, 'r') as csvfile:
    # creating a csv reader object
    csvreader = csv.reader(csvfile)
      
    # extracting field names through first row
    fields = next(csvreader)
  
    # extracting each data row one by one
    for row in csvreader:
        rows.append(row)

In [3]:
#Extracting CSV Headers
NewFields = [i.split('\t') for i in fields][0]
NewFields

['Indel',
 'Chr-Pos',
 'MultiSampleCount',
 'MultiAlleleCount',
 'NearbyIndelCount25bp',
 'RecurrentIndel']

In [4]:
#Creating Rows for pandas DataFrame
NewRows = []
for row in rows:
    for i in row:
        NewRows.append(i.split('\t'))

In [5]:
#Load CSV data in as DataFrame
import pandas as pd
df = pd.DataFrame(NewRows,columns = NewFields)
df

,Indel,Chr-Pos,MultiSampleCount,MultiAlleleCount,NearbyIndelCount25bp,RecurrentIndel
0,1-100000989-A-ATC,1-100000989,11,1,1,TRUE
1,1-100001151-GT-G,1-100001151,1,1,2,TRUE
2,1-100001168-TG-T,1-100001168,1,1,2,TRUE
3,1-100001497-TA-T,1-100001497,1,1,1,FALSE
4,1-100001671-C-CTT,1-100001671,5,4,1,TRUE
...,...,...,...,...,...,...
15022039,Y-9992125-AT-A,Y-9992125,3,1,1,TRUE
15022040,Y-9992151-TA-T,Y-9992151,6,1,2,TRUE
15022041,Y-9992174-AC-A,Y-9992174,7,1,2,TRUE
15022042,Y-9994833-TAATG-T,Y-9994833,2,1,1,TRUE
15022043,Y-9995028-TG-T,Y-9995028,1,1,1,FALSE

In [53]:
Chrom_Dict = {}
for i in range(0,len(df['Chr-Pos'].tolist())):
    Chromosome,Pos = df['Chr-Pos'][i].split('-')
    if Chromosome not in Chrom_Dict:
        Chrom_Dict[Chromosome] = [int(Pos)]
    else:
        Chrom_Dict[Chromosome].append(int(Pos))

In [122]:
for key, value in Chrom_Dict.items():
    vals = sorted(value)
    Chrom_Dict[key] = vals

In [126]:
ChromPosDifference = {}
import numpy as np
for key,value in Chrom_Dict.items():
    val =  abs(np.diff(value))
    ChromPosDifference[key] = val.tolist()

In [139]:
CounterList = []
for key, value in ChromPosDifference.items():
    counter_dict = {}
    for i in value:
        if i in counter_dict:
            counter_dict[i] += 1
        else:
            counter_dict[i] = 1
    CounterList.append(counter_dict)

In [150]:
Chromosomes = list(Chrom_Dict.keys())
PositionCounter = dict(zip(Chromosomes, CounterList))

In [157]:
ChromList = []
for key, value in PositionCounter.items():
    vals = [key,value]
    ChromList.append(vals)

In [ ]:
rows = []

# Getting rows
for data in list:
    data_row = data['Fruit']
    n = data['Name']
    for row in data_row:
        row['Name'] = n
        rows.append(row)

# Convert to data frame
df = pd.DataFrame(rows)
print(df)

In [177]:
A = []
for i in CounterList:
    df = pd.DataFrame([i])
    A.append(df)

In [193]:
for i in range (0,len(A)):
    print(Chromosomes[i],'--->',A[i])

1 --->    190     10      5       28      6       8       1       3       2       \
0    1077   11465   15665    5217   14380   12955   45246   24040   38344

   7       ...  5274    4534    4495    2592    7053    11035   10526   \
0   12562  ...       1       1       1       1       1       1       1

   4802    4645    151885
0       1       1       1

[1 rows x 4148 columns]
10 --->    240    19     37     4      21     35     146     0      69     3983   ...  \
0    476   3606   2242  11794   3315   2271    769  163151   1418      1  ...

   3351   52148  50913  2875   2962   4024   3392   4567   3105   2807
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3628 columns]
11 --->    9932    0      2      4     12    13    10    5     34    166   ...  2417  \
0     1  160351  20829  11878  5614  5073  6327  8377  2542   777  ...     1

   5084  2758  3475  3526  2927  5781  3064  2762  2670
0     1     1     1     1     1     1     1     1     1

[1 rows x 3611 columns]
12 --->    479     0      158    54     22     249    32     1020   31     3110   ...  \
0    210  182488    827   1909   3446    479   2748     58   2740      3  ...

   6784   4732   5157   3648   5270   61984  75882  5087   4036   4141
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3543 columns]
13 --->    0       155     7       15      5028    431     20      2       48      \
0   94133     470    3697    2523       1     156    2080   12050    1001

   247     ...  3152    150412  2866    8382    3692    12530   3341    \
0     269  ...       1       1       1       1       1       1       1

   100218  100558  5518
0       1       1       1

[1 rows x 3528 columns]
14 --->    1287   125    565    612    1006   703    357    333    6      41     ...  \
0     16    628    118     96     32     67    197    213   5249   1418  ...

   11030  3562   3124   2416   3435   3991   3262   4004   4679   3092
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3322 columns]
15 --->    3318  1529  5     4075  99    1253  651   1476  1008  197   ...  2720  \
0     2    12  6023     1   758    19    68    10    30   397  ...     1

   3419  4741  4508  4441  5284  2548  4682  3657  4990
0     1     1     1     1     1     1     1     1     1

[1 rows x 3336 columns]
16 --->    3      80     135    90     229    180    327    65     29     119    ...  \
0  11328   1059    604    984    352    505    230   1273   2197    768  ...

   2836   5036   7921   11773  11480  5506   6231   4916   4016   4072
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3211 columns]
17 --->    894    26     368    200    636    22     678    263    3      1      ...  \
0     33   2807    193    489     77   3121     67    353  12420  23982  ...

   6781   4337   18470  6141   2286   2959   3614   2531   3091   3425
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 2811 columns]
18 --->    2      12     21     36     532    10     15     687    3      28     ...  \
0   9985   2449   1475   1019     80   2769   1990     68   5839   1261  ...

   4048   3181   2964   52903  2410   2540   2905   3870   3657   2447
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3288 columns]
19 --->    72    26    21    22     4     376   16    1735  3149  74    ...  2097  \
0  1367  2921  3466  3407  11847   172  4534     2     2  1316  ...     1

   2431  2276  2000  2525  2489  1887  2285  2973  3750
0     1     1     1     1     1     1     1     1     1

[1 rows x 2285 columns]
2 --->    32     3      10     2      40     7      4      19      0      5      ...  \
0   4386  21490   9955  35051   3555  10965  19320   6266  275102  13592  ...

   27085  2996   3931   4058   4223   7131   4010   50480  5486   7106
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 4168 columns]
20 --->    337    99     58     20     27     39     11     0      14     22     ...  \
0    169    566    899   1936   1474   1108   2808  89737   2481   1679  ...

   2035   2860   2648   2305   50280  50801  2736   1916   2507   6896
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 2850 columns]
21 --->    137   41    8     44    13    32    6     7     10    1     ...  2126  \
0   193   657  2267   624  1439   766  2558  2142  1903  8151  ...     1

   2119  2173  2009  2221  2214  2783  1800  3754  3629
0     1     1     1     1     1     1     1     1     1

[1 rows x 2803 columns]
22 --->    764    8      279    3      0      6      2      4      17     196    ...  \
0     21   3186    129   5923  69645   3613   8547   5258   1906    205  ...

   1450   2289   2505   50761  2512   4008   2006   1882   2546   1380
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 2287 columns]
3 --->    1283   33     87     74     725    980     0      3      4      10     ...  \
0     56   2965   1624   1771    156     87  218675  16201  14653   7566  ...

   4614   4507   4971   5501   18327  3832   4867   6314   8273   5245
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3944 columns]
4 --->    4      2      75     8      3      1163   937    26     168    1483   ...  \
0  12969  23905   1462   7505  14133     69     78   3127    810     40  ...

   3340   6487   3150   16417  3277   8660   13691  5110   6402   9179
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 4044 columns]
5 --->    1      28     6      4      8      7      13     635    1012   34     ...  \
0  25108   2995   8285  12902   7322   7142   5249    179     94   2497  ...

   3801   8228   11465  14793  8352   5986   4029   24781  15457  72064
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 4017 columns]
6 --->     0      50017  140    7969   104    274    8175   3204   1774   21     ...  \
0  193264      1    927      1   1173    463      1      1     13   3669  ...

   2996   50890  2532   4954   15337  6156   26646  8375   12249  5849
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3798 columns]
7 --->    40      18      34      21      2       13      27      0       4       \
0    2551    4825    2869    4089   25565    5914    3387  200644   14504

   5237    ...  3943    4392    5730    100353  4492    3654    3697    \
0       1  ...       1       1       1       1       1       1       1

   2615    2972    3092
0       1       1       1

[1 rows x 3885 columns]
8 --->    49      2       52      97      88      1813    7007    0       4848    \
0    1675   19195    1597    1051    1096      10       1  153863       1

   151     ...  6203    20138   20289   4220    4051    108564  13495   \
0     712  ...       1       1       1       1       1       1       1

   26784   4174    8340
0       1       1       1

[1 rows x 3777 columns]
9 --->    32     1      7       0      4      22     12     5      2      3      ...  \
0   2278  21156   6059  144626  10337   3049   5000   7726  18376  11379  ...

   3967   50547  4438   3534   50531  3570   6128   3002   6165   14805
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 4099 columns]
X --->    121    237    266    228    162    337    117    71     10     86     ...  \
0    104     68     55     67    157     58    113    152   1008    140  ...

   33278  6680   10695  23904  8445   8024   7490   7447   10091  18659
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 9289 columns]
Y --->    2814   1117   2214   232    65     14410  0      6680   1141   2603   ...  \
0      1      1      1      6      4      1   1964      1      2      2  ...

   715    832    396    112    364    837    577    361    1204   693
0      1      1      1      1      1      1      1      1      1      1

[1 rows x 3171 columns]

In [188]:
len(A)

24