In [2]:
# importing csv module
import csv
  
# csv file name
filename = "TestData.csv"
  
# initializing the titles and rows list
fields = []
rows = []
  
# reading csv file
with open(filename, 'r') as csvfile:
    # creating a csv reader object
    csvreader = csv.reader(csvfile)
      
    # extracting field names through first row
    fields = next(csvreader)
  
    # extracting each data row one by one
    for row in csvreader:
        rows.append(row)

In [52]:
#Extracting CSV Headers
NewFields = [i.split('\t') for i in fields][0]
NewFields

['Indel',
 'Chr-Pos',
 'MultiSampleCount',
 'MultiAlleleCount',
 'NearbyIndelCount25bp',
 'RecurrentIndel']

In [4]:
#Creating Rows for pandas DataFrame
NewRows = []
for row in rows:
    for i in row:
        NewRows.append(i.split('\t'))

In [7]:
#Load CSV data in as DataFrame
import pandas as pd
df = pd.DataFrame(NewRows,columns = NewFields)
df

,Indel,Chr-Pos,MultiSampleCount,MultiAlleleCount,NearbyIndelCount25bp,RecurrentIndel
0,1-100000989-A-ATC,1-100000989,11,1,1,TRUE
1,1-100001151-GT-G,1-100001151,1,1,2,TRUE
2,1-100001168-TG-T,1-100001168,1,1,2,TRUE
3,1-100001497-TA-T,1-100001497,1,1,1,FALSE
4,1-100001671-C-CTT,1-100001671,5,4,1,TRUE
...,...,...,...,...,...,...
15022039,Y-9992125-AT-A,Y-9992125,3,1,1,TRUE
15022040,Y-9992151-TA-T,Y-9992151,6,1,2,TRUE
15022041,Y-9992174-AC-A,Y-9992174,7,1,2,TRUE
15022042,Y-9994833-TAATG-T,Y-9994833,2,1,1,TRUE
15022043,Y-9995028-TG-T,Y-9995028,1,1,1,FALSE

In [8]:
ChromList = df['Chr-Pos'].tolist()

In [10]:
ChromePosTotal = []
for i in range(0,len(ChromList)):
    Chromosome,Pos = ChromList[i].split('-')
    ChromePosTotal.append((Chromosome,int(Pos)))

In [11]:
Chrom_Pos_Dict = {}
for i in ChromePosTotal:
    if i[0] not in Chrom_Pos_Dict:
        Chrom_Pos_Dict[i[0]] = []
    else:
        Chrom_Pos_Dict[i[0]].append(i[1])

In [13]:
for key, value in Chrom_Pos_Dict.items():
    print(key,len(value))

1 1336885
10 714144
11 723854
12 760583
13 426853
14 489877
15 496990
16 559546
17 636842
18 348392
19 610610
2 1219428
20 374678
21 207091
22 291512
3 956205
4 832905
5 824668
6 839744
7 859703
8 684144
9 633191
X 185723
Y 8452

In [14]:
ChromCount = [[key,len(value)] for key, value in Chrom_Pos_Dict.items()]

In [16]:
ChromDF = pd.DataFrame(ChromCount,columns=['Chromosome','Count'],dtype='int')
ChromDF

<ipython-input-16-5ecbff6b01d6>:1: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  ChromDF = pd.DataFrame(ChromCount,columns=['Chromosome','Count'],dtype='int')

   Chromosome    Count
0           1  1336885
1          10   714144
2          11   723854
3          12   760583
4          13   426853
5          14   489877
6          15   496990
7          16   559546
8          17   636842
9          18   348392
10         19   610610
11          2  1219428
12         20   374678
13         21   207091
14         22   291512
15          3   956205
16          4   832905
17          5   824668
18          6   839744
19          7   859703
20          8   684144
21          9   633191
22          X   185723
23          Y     8452

In [17]:
Chromosomes = ChromDF['Chromosome'].tolist()
for i in range(0,len(Chromosomes)):
    try:
        Chromosomes[i] = int(Chromosomes[i])
    except:
        ValueError

ChromDF['Chromosome'] = Chromosomes

In [18]:
Chromosomes

[1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 20,
 21,
 22,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'X',
 'Y']

In [19]:
SexChroms = ChromDF.iloc[[22,23]]
ChromDF.drop([22,23], axis=0, inplace=True)
ChromDF = ChromDF.sort_values(by="Chromosome")
ChromDF = ChromDF.append(SexChroms)

<ipython-input-19-e0be5d971407>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ChromDF = ChromDF.append(SexChroms)

In [51]:
ChromDF

   Chromosome    Count
0           1  1336885
11          2  1219428
15          3   956205
16          4   832905
17          5   824668
18          6   839744
19          7   859703
20          8   684144
21          9   633191
1          10   714144
2          11   723854
3          12   760583
4          13   426853
5          14   489877
6          15   496990
7          16   559546
8          17   636842
9          18   348392
10         19   610610
12         20   374678
13         21   207091
14         22   291512
22          X   185723
23          Y     8452

In [21]:
## Applying Filters to Original CSV:
MultiSample,MultiAllele,NearbyIndel = df['MultiSampleCount'].tolist(),df['MultiAlleleCount'].tolist(),df['NearbyIndelCount25bp'].tolist()
for i in range(0,len(MultiSample)):
    try:
        MultiSample[i] = int(MultiSample[i])
        MultiAllele[i] = int(MultiAllele[i])
        NearbyIndel[i] = int(NearbyIndel[i])
    except:
        ValueError

df['MultiSampleCount'] = MultiSample
df['MultiAlleleCount'] = MultiAllele
df['NearbyIndelCount25bp'] = NearbyIndel

In [24]:
filtered_df = df[(df["MultiSampleCount"] >= 4) | (df["MultiAlleleCount"] >= 4) | (df["NearbyIndelCount25bp"] >= 4)]
filtered_df

,Indel,Chr-Pos,MultiSampleCount,MultiAlleleCount,NearbyIndelCount25bp,RecurrentIndel
0,1-100000989-A-ATC,1-100000989,11,1,1,TRUE
4,1-100001671-C-CTT,1-100001671,5,4,1,TRUE
5,1-100001671-C-CTTT,1-100001671,1,4,1,TRUE
6,1-100001671-C-CTTTT,1-100001671,1,4,1,TRUE
7,1-100001671-CTT-C,1-100001671,1,4,1,TRUE
...,...,...,...,...,...,...
15022032,Y-9974352-A-ATTTTT,Y-9974352,5,1,3,TRUE
15022035,Y-9984938-AC-A,Y-9984938,5,1,2,TRUE
15022037,Y-9985025-A-AG,Y-9985025,11,1,1,TRUE
15022040,Y-9992151-TA-T,Y-9992151,6,1,2,TRUE
15022041,Y-9992174-AC-A,Y-9992174,7,1,2,TRUE

In [25]:
filtered_chrom = filtered_df['Chr-Pos'].tolist()
Filtered_ChromPosTotal = []
for i in range(0,len(filtered_chrom)):
    Chromosome,Pos = filtered_chrom[i].split('-')
    Filtered_ChromPosTotal.append((Chromosome,int(Pos)))

In [26]:
Filtered_Chrom_Pos_Dict = {}
for i in Filtered_ChromPosTotal:
    if i[0] not in Filtered_Chrom_Pos_Dict:
        Filtered_Chrom_Pos_Dict[i[0]] = []
    else:
        Filtered_Chrom_Pos_Dict[i[0]].append(i[1])

In [27]:
Filtered_ChromCount = [[key,len(value)] for key, value in Filtered_Chrom_Pos_Dict.items()]

In [28]:
Filtered_ChromDF = pd.DataFrame(Filtered_ChromCount,columns=['Chromosome','Count'],dtype='int')
Chromosomes = Filtered_ChromDF['Chromosome'].tolist()
for i in range(0,len(Chromosomes)):
    try:
        Chromosomes[i] = int(Chromosomes[i])
    except:
        ValueError

Filtered_ChromDF['Chromosome'] = Chromosomes

<ipython-input-28-3187c451a27b>:1: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  Filtered_ChromDF = pd.DataFrame(Filtered_ChromCount,columns=['Chromosome','Count'],dtype='int')

In [29]:
SexChroms = Filtered_ChromDF.iloc[[22,23]]
Filtered_ChromDF.drop([22,23], axis=0, inplace=True)
Filtered_ChromDF = Filtered_ChromDF.sort_values(by="Chromosome")
Filtered_ChromDF = Filtered_ChromDF.append(SexChroms)
Filtered_ChromDF

<ipython-input-29-691aedd033a8>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Filtered_ChromDF = Filtered_ChromDF.append(SexChroms)

   Chromosome   Count
0           1  518622
11          2  451631
15          3  349424
16          4  295782
17          5  298924
18          6  315534
19          7  335764
20          8  248097
21          9  241275
1          10  269120
2          11  269228
3          12  297656
4          13  152610
5          14  187486
6          15  195726
7          16  234211
8          17  272044
9          18  126748
10         19  282573
12         20  147951
13         21   84505
14         22  122430
22          X   75392
23          Y    3248

In [30]:
Filtered_ChromDF.to_csv('Filtered Data.csv',index=False)
ChromDF.to_csv('Unfiltered Dat a.csv',index=False)

In [31]:
#Storing DataFrames at HTML Tables:
Unfiltered_html = ChromDF.to_html(index=False)
Filtered_html = Filtered_ChromDF.to_html(index=False)

In [32]:
 # write html to file
text_file = open("UnfilteredTable.html", "w",)
text_file.write(Unfiltered_html)
text_file.close()

In [33]:
text_file = open("FilteredTable.html", "w")
text_file.write(Filtered_html)
text_file.close()

In [71]:
a = Chrom_Pos_Dict['Y']

In [63]:
a = a[0:10]
for i in range(0,len(a)-1):
    b = a[i+1]-a[i]
    print(a,b)

[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 315
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 945
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 50
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 0
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 0
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 4024
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 648
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 103
[10005563, 10005878, 10006823, 10006873, 10006873, 10006873, 10010897, 10011545, 10011648, 10011658] 10

In [73]:
import numpy as np
AA =  np.diff(a)
len(AA.tolist())

8451